name: Nest Task Board CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Copy files to VPS & Deploy
      uses: appleboy/ssh-action@v1.2.4
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /opt/vps-projects/nest_task_board
          docker compose down
          git pull
          docker compose up -d --build